$banner-height: 92px;

%opacity {
  -khtml-opacity: 0.8;
    -moz-opacity: 0.80;
         opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
      filter: alpha(opacity=80);
}

button {
    background-color: cadetblue;
    border: none;
    color: white;
    padding: 6px 16px;
    border-radius: 2px;
    /*text-align: center;*/
    /*text-decoration: none;*/
    /*display: inline-block;*/
    /*font-size: 16px;*/
}

// .slms-control {
//   position: absolute;
//   padding: 2px;
//   background-color: rgba(255,255,255,.4);
//   border-radius: 4px;
// }