$banner-height: 92px;
$highlight-color: #ffa500;
$transparent-panel-background: rgba(0, 0, 0, 0.66);

button {
  background-color: cadetblue;
  border: none;
  color: white;
  padding: 6px 16px;
  border-radius: 2px;
  /*text-align: center;*/
  /*text-decoration: none;*/
  /*display: inline-block;*/
  font-size: 16px;
}

button.small {
  padding: 3px 8px;
  border-radius: 2px;
  font-size: 13px;
}

button:disabled {
  background: rgba(211, 211, 211, 0.5);
  color:  rgba(0, 0, 0, 0.7);
}

.danger {
  background-color: #f00;
}
.unselectable {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
// .slms-control {
//   position: absolute;
//   padding: 2px;
//   background-color: rgba(255,255,255,.4);
//   border-radius: 4px;
// }
